@page "/"
@using jinx_debt_tracker.Models
@using jinx_debt_tracker.Services
@inject GameService gameService
@inherits IgnisAsyncComponentBase

<PageTitle>Index</PageTitle>

<main class="flex h-screen justify-center items-center">
    <div>
        <article class="prose prose-invert mb-8">
            <h1 class="mb-2">The Debt Tracker</h1>
            <h3 class="mt-0">at long last, it is ready. check how much you owe below.</h3>
        </article>
        <GameTabs Games=@Games/>
    </div>
</main>

@code
{
    public List<Game> Games = new();
    protected override async Task OnInitializedAsync(CancellationToken cancellationToken)
    {
        Games = await gameService.GetAllGames();
        // Update();
    }

    private async Task GetGames()
    {
        Console.WriteLine("ding");
        Games = await gameService.GetAllGames();
        Update();
        
    }

}
